@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(73, 145, 212);
    width: 100vw;
    height: 100vh;

    display: grid;
    place-items: center;
}

#main {
    border: 2px solid black;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header {
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

#image-slider {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#image-container {
    border: 1px solid lime;
    height: 30rem;
    width: 60rem;
}

#left-btn,
#right-btn {
    background-color: transparent;
    outline: transparent;
}

#nav {
    height: 2rem;
    width: 60rem;
    border: 1px solid lime;
}
